.text-red{
    color: #da3a41;
    margin-bottom:10px;
}

.text-gray{
    color:#7b7b7c;
    margin-bottom:1em;
}

.main-col-container{
    /* padding:2em; */
    /* margin-top:90px; */
    margin: 90px auto;
}

.btn-gray{
    color:#7b7b7c !important;
}
